正向代理：  
    意思是一个位于客户端和原始服务器之间的服务器， 为了从原始服务器获取内容， 客户端向代理发送一个请求并指定目标，然后代理向原始服务器转交
    请求，并将获取内容返回给客户端。

    正向代理是为客户端服务的， 客户端可以根据正向代理访问到他无法访问到的服务器资源
    正向代理对客户端是透明的， 对服务器不是透明的， 即服务器并不知道自己收到的请求来自代理还是正式服务器访问的

反向代理：
    代理服务器接收来自internet上的连接请求， 然后将请求转发给内部的网络服务qi。 并把返回结果返回给请求的客户端

    反向代理是为服务服务的。反向代理可以帮助服务器处理来自客户端的请求， 帮助服务器做转发负载均衡
    反向代理对服务器是透明的， 对客户端时非透明的， 即客户端并不知道访问的时代理服务器还是服务器。

nginx解决跨域原理
   假设现有 client.com访问server.com,将nginx的server_name: 设置为client.com, 并设置响应的location拦截跨域的请求。
   client.com访问client.com属于同源访问， 而nginx对服务对服务端转发的请求不会触发同源策略， 完美的绕开了的同源策略。

负载均衡：
  负载均衡就是帮助将众多的客户端请求合理的分配到各个服务器。以达到服务武器资源的充分利用。

  Upstream指定后端服务器地址列表
        upstream balanceServer {
            server 10.1.22.33:12345;
            server 10.1.22.34:12345;
            server 10.1.22.35:12345;
        }

   server {
        server_name  fe.server.com;
        listen 80;
        location /api {
            proxy_pass http://balanceServer;
        }
    }

分配策略：
   轮询策略：
    默认情况的策略， 将客户端请求轮询分配给服务器，但如果某个服务器压力过大，出现延迟，会影响这台服务器下的用户

  最小连接数策略：
     将请求有限分配给服务器压力小的服务器
       upstream balanceServer {
            least_conn;
            server 10.1.22.33:12345;
            server 10.1.22.34:12345;
            server 10.1.22.35:12345;
        }
   最快响应时间策略：
     优先分配给响应时间最短的服务器 依赖于nginx olus
     upstream balanceServer {
        fair;
        server 10.1.22.33:12345;
        server 10.1.22.34:12345;
        server 10.1.22.35:12345;
    }
    客户端ip绑定：
      来自同一个ip只分配给一个服务器。有效解决动态网页存在的session共享问题。
